<section class="section">
  <div class="container">
    <h2 class="title section-title">Мы предлагаем</h2>
    <ul class="row">
      <li class="col-xl-3">
        <div class="card">
          <img
            src="./images/Hand-money1.svg"
            class="card-img-top"
            alt="..."
            width="106"
            height="95"
          />
          <div class="card-body">
            <h3 class="card-title">Выплаты вовремя</h3>
            <p class="card-text">
              Выплата на банковскую карту. 2 раза в месяц.
            </p>
          </div>
        </div>
      </li>
      <li class="col-xl-3">
        <div class="card">
          <img
            src="./images/Hand-money1.svg"
            class="card-img-top"
            alt="..."
            width="106"
            height="95"
          />
          <div class="card-body">
            <h3 class="card-title">Выплаты вовремя</h3>
            <p class="card-text">
              Выплата на банковскую карту. 2 раза в месяц.
            </p>
          </div>
        </div>
      </li>
      <li class="col-xl-3">
        <div class="card">
          <img
            src="./images/Hand-money1.svg"
            class="card-img-top"
            alt="..."
            width="106"
            height="95"
          />
          <div class="card-body">
            <h3 class="card-title">Выплаты вовремя</h3>
            <p class="card-text">
              Выплата на банковскую карту. 2 раза в месяц.
            </p>
          </div>
        </div>
      </li>
      <li class="col-xl-3">
        <div class="card">
          <img
            src="./images/Hand-money1.svg"
            class="card-img-top"
            alt="..."
            width="106"
            height="95"
          />
          <div class="card-body">
            <h3 class="card-title">Выплаты вовремя</h3>
            <p class="card-text">
              Выплата на банковскую карту. 2 раза в месяц.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
